@font-face {
  font-family: MyCourgette;
  src: url(../fonts/Courgette-Regular.ttf);
}

html,
body {
  height: 100%;
}

#tittle-name {
  font-style: MyCourgette;
}

#principal {
  height: 100%;
}
.navegador {
  background-color: #51df2e;
}

.texy{
    color: #13960e
}

.fondo {
  background-image: url(../img/frutas.jpg);
}
.bton{
  background-color: #df5bd9;
}
