<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>

<link rel="stylesheet" href="css/main.css">
<script src="js/main.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
<script src="/js/bootstrap/bootstrap.js"></script>
</head>

<body>
	<p th:each="producto : ${productos}" th:text="${producto.getNombre()}"></p>
</body>

</html>
